<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="frag-head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="format-detection"
              content="telephone=no, address=no, email=no" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

        <title>Memo 📜</title>

        <link rel="icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}">
        <link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css" />
    </head>
</html>