<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{fragment/head.html :: frag-headTitle(${memo.title + ' | Memo'})}" ></div>
</head>
<body>
	<div id="wrap" class="container pt-3 pb-3">
		<div id="header">
			<div class="btn-toolbar mb-3 justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
				<div class="btn-group" role="group" aria-label="First group">
					<a type="button" class="btn btn-outline-secondary" href="/memo/list">Back</a>
				</div>
				<div class="btn-group" role="group" aria-label="Second group">
					<a type="button" class="btn btn-warning" th:href="'/memo/edit/' + ${memo.seq}">Edit</a>
				</div>
			</div>
		</div>
		<hr />
		<div id="content-wrap">
			<div id="content-top">
				<div id="content-title" class="fs-5 fw-bold text-break" th:text="${memo.title}"></div>
				<div class="mt-2 text-end">
					<span id="link-copy" class="separator" onclick="copyUrl()">copy</span>
					<span id="content-serial" class="separator" th:text="${memo.serial}"></span>
					<span id="content-created" style="min-width: 150px;" th:text="${#temporals.format(memo.crdte, 'yyyy-MM-dd HH:mm')}"></span>
				</div>
			</div>
			<hr />
			<div id="content-body" class="px-3">
				<div id="content-main">
					<pre id="content-detail" class="text-break" style="min-height: 40em; line-height: 1.4; white-space: break-spaces;" th:text="${memo.content}"></pre>
				</div>
				<div id="content-button-wrap"></div>
			</div>
			<hr />
			<div id="content-bottom">
				<div id="content-additional-info">
					<div class="d-flex justify-content-between align-items-center">
						<div id="content-updater" class="d-inline me-3">writer : <span th:text="${memo.upmid}"></span></div>
						<div id="content-updated" class="d-inline">updated : <span th:text="${#temporals.format(memo.updte, 'yyyy-MM-dd HH:mm')}"></span></div>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div id="footer"></div>
	</div>

	<script>
		function copyUrl() {
			const url = window.location.href; // 현재 페이지 URL 가져오기
			const copyTag = document.querySelector("#link-copy");

			const textarea = document.createElement("textarea");
			textarea.value = url;
			document.body.appendChild(textarea);
			textarea.select();
			textarea.setSelectionRange(0, 99999); // 모바일 지원을 위한 설정

			try {
				const successful = document.execCommand("copy");
				if (successful) {
					copyTag.innerText = 'copied!';

					setTimeout(() => {
						copyTag.innerText = 'copy';
					}, 5000);
				} else {
					alert("URL 복사에 실패했습니다.");
				}
			} catch (err) {
				console.error("URL 복사 실패:", err);
			}

			document.body.removeChild(textarea);
		}
	</script>
</body>
</html>