<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="~{fragment/head.html :: frag-head}" ></title>
</head>
<body>
	<div id="wrap" class="container pt-3 pb-3">
		<div id="header"></div>
		<div id="content-wrap">
			<div id="content-top">
				<form class="hstack gap-3">
					<input type="text" class="form-control me-auto" name="q" th:value="${q}" placeholder="Search..." aria-label="Search..." autocomplete="off" />
					<button type="submit" id="btn-submit" class="btn btn-outline-secondary">Submit</button>
					<div class="vr"></div>
					<a type="button" id="btn-reset" class="btn btn-outline-danger" href="/memo/list">Reset</a>
					<a type="button" id="btn-new" class="btn btn-primary" href="/memo/write">New</a>
				</form>
			</div>
			<hr />
			<div id="content-body">
				<table id="content-list" class="table" style="font-family: 'Cascadia Mono', 'SamsungOne', -apple-system, auto;">
					<thead>
						<tr class="table-secondary border-1">
							<th class="text-center" style="width: 55px">No</th>
							<th class="w-50">Title</th>
							<th class="text-center" style="width: 125px">Created</th>
						</tr>
					</thead>
					<tbody>
						<tr th:class="${stat.index % 2 == 0 ? '' : 'table-light'}" th:each="memo, stat : ${memoList}">
							<td class="content-seq text-center align-middle" th:text="${stat.index + 1}"></td>
							<td class="content-title text-break">
								<a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" th:text="${memo.title}" th:href="${'/memo/view/' + memo.seq}"></a>
							</td>
							<td class="content-crdte text-center align-middle" th:text="${#temporals.format(memo.crdte, 'yyyy-MM-dd')}">
							</td>
						</tr>
						<tr th:if="${memoList.size} == 0">
							<td class="content-seq text-center">-</td>
							<td class="content-title"><strong>No Content</strong></td>
							<td class="content-crdte text-center">-</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="content-bottom"></div>
		</div>
		<div id="footer"></div>
	</div>

	<script>
		
	</script>
</body>
</html>