<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="~{fragment/head.html :: frag-head}" ></title>
	<style>
		:is(#content-wrap, #content-bottom) * {font-size: 0.9em;}
		.w-275 {width: 275px;}
	</style>
</head>
<body>
	<div id="loading_box" style="width: 100%; height: 100%; position: absolute; display: none; justify-content: center; align-items: center; background-color: #ccc4;">
        <img src="/static/images/loading_pen.gif" style="width: 50px;">
    </div>
	<div id="wrap" class="container pt-3 pb-3" style="max-width: 800px; letter-spacing: -0.5px">
		<div id="content-top" class="text-center">
			<div>
				<img style="width: 75px;" th:src="@{/static/images/duck_memo.png}" />
			</div>
			<span class="badge text-bg-secondary text-uppercase">b e t a</span>
			<div class="fs-3 mb-4">Login Memo</div>
		</div>
		<div id="content-wrap" class="m-auto p-3 bg-light border rounded w-275" action="" method="post">
			<div id="content-body" class="d-flex flex-column" style="gap: 0.325em;">
				<label for="id">Username or email address</label>
				<input type="text" id="id" class="form-control" name="id" />
				<label for="password" class="mt-2">Password</label>
				<input type="password" id="password" class="form-control" name="password" />
			</div>
			<div id="content-btn-box">
				<button id="login-btn" class="btn btn-success w-100 mt-3">Login</button>
			</div>
		</div>
		<div id="content-bottom" class="border rounded w-275 mx-auto mt-3 p-2 text-center">
			<span>New to Memo?</span>
			<a href="#wrap">Create and account</a>
		</div>
		<div id="footer"></div>
	</div>

	<script th:inline="javascript">
		
	</script>
</body>
</html>