<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="~{fragment/head.html :: frag-head}" ></title>
</head>
<body>
	<div id="loading_box" style="width: 100%; height: 100%; position: absolute; display: none; justify-content: center; align-items: center; background-color: #ccc4;">
        <img src="/static/images/loading_pen.gif" style="width: 50px;">
    </div>
	<div id="wrap" class="container pt-3 pb-3" style="max-width: 800px">
		<div id="header">
			<div class="btn-toolbar mb-3 justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
				<div class="btn-group" role="group" aria-label="First group">
					<a type="button" class="btn btn-outline-secondary" href="/memo/list">Back</a>
				</div>
				<div class="btn-group" role="group" aria-label="Second group">
					<button id="btn_save" type="button" class="btn btn-success">Save</button>
				</div>
			</div>
		</div>
		<hr />
		<form id="content-wrap" action="/memo/view" method="post">
			<div id="content-top" class="d-flex justify-content-between align-items-center">
				<input id="content-title" name="title" class="form-control" placeholder="title..." th:value="${memo.title}" />
			</div>
			<hr />
			<div id="content-body">
				<div id="content-main">
					<textarea id="content-detail" name="content" class="form-control"
							  style="height: 40em; line-height: 1.3; font-size:0.9em; font-family: 'Cascadia Mono', 'SamsungOne', -apple-system, auto;"
							  placeholder="content..." th:text="${memo.content}"></textarea>
					<div id="content-button-wrap"></div>
				</div>
				<input name="locked" style="display: none" value="false" />
				<input name="dir_seq" style="display: none" value="1" />
				<input name="serial" style="display: none" th:value="${memo.serial}" />
			</div>
			<div id="content-bottom"></div>
		</form>
		<hr />
		<div id="footer"></div>
	</div>

	<script th:inline="javascript">
		let ff = false;
		let loading = document.querySelector("#loading_box");
		
		document.querySelector("#btn_save").addEventListener("click", (e) => {
			const form = document.querySelector('#content-wrap');
			loading.style.display = "flex";

			if(ff) return;

			ff = true;

			const param = {};
			const dataMap = new FormData(form);
			
			for([key, val] of dataMap.entries()) {
				if(key == 'title' && (val == undefined || val == '')) {
					alert("제목을 입력하세요.");
					return;
				}

				param[key] = val;
			}

			fetch("/api/memo/save", {
					method: "POST",
					cache: "no-cache",
					credentials: "same-origin",
					headers: { "Content-Type": "application/json"},
					body: JSON.stringify(param),
			}).then(res => res.json())
			.then(data => {
				if(data?.serial !== '' || data?.serial !== undefined) {
					location.replace('/memo/view/' + data.serial);
				}
				// TODO error 처리
				
				loading.style.display = "none";
			})
		})
	</script>
</body>
</html>